body {
  font-family: 'Roboto';
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
header {
  background-color: #1F2937;
  padding: 0 140px;
}
.nav {
  display: flex;
  justify-content: space-between;
}
.logo {
  font-size: 18px;
  color: #F9FAF8;
}
ul {
  display: flex;
  gap: 20px;
}
.logo, ul {
  margin-bottom: 0;
}
li {
  font-size: 13px;
  color: rgb(178, 178, 178);
  list-style-type: none;
}
a {
  color: rgb(178, 178, 178);
  text-decoration: none;
}
.header-info-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 78px 0;
}
.website-info {
  width: 340px;
}
h2 {
  font-size: 34px;
  font-weight: 600;
  color: #F9FAF8;
  margin: 0;
}
p {
  font-size: 13px;
  color: rgb(178, 178, 178);
  margin: 0 0 10px 0;
}
.header-btn {
  background-color: #3882F6;
  color: #F9FAF8;
  border: none;
  border-radius: 5px;
  padding: 5px 25px;
}
.img-placeholder {
  font-size: 13px;
  background-color: rgb(149, 149, 149);
  color: #F9FAF8;
  width: 380px;
  height: 170px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.random-info {
  display: flex;
  flex-direction: column;
  margin-bottom: 70px;
}
h3 {
  font-size: 28px;
  color: #1F2937;
  font-weight: 800;
  text-align: center;
}
.blocks-container {
  display: flex;
  justify-content: center;
  gap: 50px;
}
.info-block {
  width: 120px;
}
.block {
  border: #3882F6 3px solid;
  border-radius: 10px;
  height: 120px;
  margin-bottom: 7px;
}
.info-block-text {
  text-align: center;
  font-size: 13px;
  color: #8c8c8c;
}
.quote-container {
  background-color: #E5E7EB;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 75px 0;
}
.quote {
  color: #1F2937;
  font-size: 28px;
  font-weight: 300;
  font-style: italic;
  width: 610px;
  margin: 0;
}
.quote-author {
  width: 610px;
  text-align: end;
  color: #1F2937;
  font-size: 17px;
  font-weight: 600;
  padding-right: 60px;
  margin: 0;
}
.sign-up {
  flex: 1;
  display: flex; 
  justify-content: center;
  align-items: center;
  padding: 65px 140px;
}
.sign-up-container {
  background-color: #3882F6;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  padding: 35px 90px;
}
.sign-up-msg {
  color: #F9FAF8;
  font-size: 17px;
  margin: 0;
  line-height: 17px;
}
.sign-up-msg span {
  font-size: 13px;
  font-weight: 300;
  color: #cfcfcf;
}
.sign-up-btn {
  background-color: #3882F6;
  color: #F9FAF8;
  border: 1px solid #F9FAF8;
  border-radius: 5px;
  padding: 5px 25px;
  white-space: nowrap;
}
footer {
  background-color: #1F2937;
  padding: 28px;
  display: flex;
  justify-content: center;
}
footer p {
  margin: 0;
}